%section.query
  = simple_form_for :search, method: :GET do |f|
    = f.input :country, selected: @query.country, priority: ['United States', 'China', 'Hong Kong', 'Thailand'], required: false, label: false
    = f.input :term, input_html: { value: @query.term }, required: false, label: false, placeholder: 'search term'
    = f.input :location, input_html: { value: @query.location }, required: false, label: false, placeholder: 'location'
    = f.submit 'search'
%section.results
  %h2
    - if @query.count.eql? 0
      No
    Results Found
    - if @query.count > 1
      (#{@query.count} Total)

  - @query.results.each do |result|
    .vcard
      %h3.name= result['name']
      .address= "#{result['address']} #{result['address_extended']}"
      .locality #{result['locality']} #{result['region']} #{result['postcode']} (#{CountrySelect::COUNTRIES[result['country']]})
      .tel= result['tel']
      / .price= result['price']
      / .cuisine= result['cuisine']
      / .factual_id= result['factual_id']
      / .neighborhood= result['neighborhood']
      / .meal_dinner= result['meal_dinner']
      / .meal_lunch= result['meal_lunch']
      / .meal_deliver= result['meal_deliver']
      / .longitude= result['longitude']
      / .latitude= result['latitude']
      / .kids_goodfor= result['kids_goodfor']
      / .category_labels= result['category_labels']
